{% extends 'base.html' %}

{% block content %}

<div class="bg-slate-300 pb-8">
    <div class="max-w-7xl mx-auto container p-3">
        <div class="mx-auto text-center">
            <h2 class="font-arvo text-3xl my-14 mx-auto font-semibold">Welcome to KOURRIER</h2>
        </div>
        <div class="flex gap-6">
            <div class="border-2 bg-white rounded-md p-3">
                <h5 class="uppercase text-2xl font-sora font-semibold mb-3">Customer</h5>
                <p class="font-sora mb-3 text-base">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo
                    doloribus consectetur hic reiciendis quaerat eveniet minus et.</p>
                <a href="/customer"
                    class="py-2 px-4 bg-red-400 hover:bg-red-500 rounded-full my-4 text-white">Details</a>
            </div>
            <div class="border p-3 bg-white rounded-md">
                <h5 class="uppercase text-2xl font-sora font-semibold mb-3">Courrier</h5>
                <p class="font-sora mb-3 text-base">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo
                    doloribus consectetur hic reiciendis quaerat eveniet minus et.</p>
                <a href="/courier"
                    class="py-2 px-4 bg-red-400 hover:bg-red-500 rounded-full my-4 text-white">Details</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}