@tailwind base;
@tailwind components;
@tailwind utilities;

nav .nav-links > ul > li:after {
    content: "";
    background: #f00f0f;
    /* position: absolute;
    bottom: 25%;
    left: 0; */
    height: 50%;
    width: 10px;
    height: 10px;
}


@layer components {
    nav .nav-links > ul > li.active {
        @apply after:block after:content-[''] after:w-1/3 after:h-1 after:bg-red-500 after:absolute after:-bottom-[0.3rem]
    }
    /* signin form */
    #id_username, #id_password {
        @apply outline-red-400 px-2 w-full mb-3 border-2 outline-offset-2 rounded-sm
    }
}